{# Load the tag library #}
{% extends 'main/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reviews:{{ review.title }}</title>
    <style>
       .product-image{
        width: 100%;
        max-width: 300px;
        min-width: 150px;
       }

       .section-1-container{
        display: flex;
       }

       .container{
        height: 100vh;
       }

       footer{
        margin-top: auto;
        
       }
    </style> 
</head>
<body class="bg-primary">

{% block body %}
    <div 
    class="container d-flex flex-column 
    bg-secondary text-primary rounded mt-4">
    <div class="container d-flex flex-column align-items-center">

        <h1>{{ review.title }}</h1>

          <div id="text-body">
              <div class="section-1-container">
                <div id="section-1">
                 
                </div>
                <img class="product-image"src="{{MEDIA_URL}}{{review.img_one}}">
              </div>
                <div id="master-text">
                  {{ review.body.html|safe }}

                </div>
                
          </div>

          {% include 'components/footer.html' %}
    </div>
    

<script src="{% static 'reviews/script.js' %}"></script>
{% endblock body %}
</body>

</html>