* {
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-color: #2A0B5C;
}

.card{
    background-color: #8AFA9D;
    color: #2A0B5C;
    border-radius: 0;
}

.title{
    color: #2A0B5C;
}