{# Load the tag library #}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    
    href="{% static 'reviews\css\custom_bootstrap.css'%}">
    <link rel="stylesheet"
    
    href="{% static 'reviews\css\detail.css'%}">
    
    <title>Reviews:{{ review.title }}</title>
    <style>
       
    </style> 
</head>
<body class="bg-primary">

    {% include 'reviews/components/navbar.html'%}
    <div 
    class="container d-flex flex-column 
    bg-secondary text-primary rounded mt-4">
    <div class="container-fluid d-flex flex-column align-items-center">

        <h1>{{ review.title }}</h1>

            <div>

                <p>
                    {{ review.body.html|safe }}
                </p>

            </div>
            
            <div>
                <img src="{{MEDIA_URL}}{{review.img_one}}" 
                class="pics img-fluid mx-auto d-block" 
                style="max-width: 500px; min-width: 300px;" alt="">
            </div>
            
        </div>
    </div>
</body>
</html>