@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600;700&display=swap');
* {
    font-family: 'Signika Negative', sans-serif !important;
}

h1{
  font-weight: bolder;
}

p {
  font-size: large;
  
}

@media (max-width: 767.98px) { 
    img {
        max-width: 50% !important;
    }
  
}


