.product-image{
    width: 100%;
    max-width: 300px;
    min-width: 150px;
   }

   .section-1-container{
    display: flex;
   }

   .container{
    height: 100vh;
   }

   footer{
    margin-top: auto;
    
   }