{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'podcasts/audio_player/audioplayer.css' %}">
    <script src="{% static 'podcasts/audio_player/script.js' %}"></script>
</head>
<body>
    
    <div id="audio-player-container">
        <div id="buttons">
            <button id="rewind-button" >
                <img src="{% static 'podcasts/audio_player/rewind-fill.svg' %}" aria-hidden="true" >
            </button>
            <button id="play-button" onclick="changeButtonState(this)" >
                <img src="{% static 'podcasts/audio_player/play-fill.svg' %}" aria-hidden="true" >
            </button>
            <button id="pause-button" onclick="changeButtonState(this)">
                <img src="{% static 'podcasts/audio_player/pause-fill.svg' %}" aria-hidden="true" >
            </button>
            <button id="fast-forward-button" >
                <img src="{% static 'podcasts/audio_player/fast-forward-fill.svg' %}" aria-hidden="true" >
            </button>
        </div>
        <div id="range-bars">
            <div id="volume-container">
                <p class="label">Volume</p>
                <input type="range" id="volume" name="volume"
                       min="0" max="100">
              </div>
            <div id="seeker-container">
                <p class="label">Seeker</p>
                <input type="range" id="seeker" max="100" value="0">
            </div>
              
        </div>
    </div>
</body>
</html>